/* div{
  width: 95px;
  height: 100px;
  background: url("../images/logo.png");
} */
body{
  font-size: 20px;
}
.a{
  color: red;
  background-color: black;
}
table{

}
tr{

}
td{
  border: 1px solid red;
  padding: 10px;
}
.red{
  color: red;
}
#abc{
  color: blue;
}